@import "variables";

h1 {
  font-family: "Aladin", sans-serif;
  color: $almost-black;
}
  
.navbar-dark {
  background-color: $bright-green;
  font-family: "Raleway", sans-serif;
}

.logo {
  margin-right: 15px;
}

.website-name {
  margin-right: 30px;
}

//media query so that mentises is slightly to right on smaller screens
@media only screen and (max-width: 992px){
  .title-container {
      position: relative;
      top: 0px;
      left:10px;
  }
}
  