/*header styles--------------------------------- */
h1 {
  font-family: "Aladin", sans-serif;
  color: #202020;
}

.header-nav {
  background-color: #59916d;
}

/*for the links----*/
.navbar .navbar-nav>li>a, .navbar {
  color: #fff;
}

.navbar-nav>li>a:hover {
  color: #C0D9AF	;
}




/*footer styles--------------------------------- */
.site-footer{ 
  background-color: #59916d;
  min-height: 150px;
  color: white;
}