/*HEADER STYLES-------------------------------------------------------------------------------------------------------- */
h1 {
  font-family: "Aladin", sans-serif;
  color: #202020;
}

.navbar-dark {
  background-color: #59916d;
  font-family: "Raleway", sans-serif;
}

.logo {
  margin-right: 15px;
}

.website-name {
  margin-right: 30px;
}

/*shopping bag edits----------------------------*/
/*CUSTOM MEDIA QUERY*/
@media only screen and (min-width: 992px){
  .shopping-bag {
      position: absolute;
      top: 50px;
      right:30px;
  }
}
/*fix shopping bag color*/
.shopping-bag>a {
  color: white !important;
}


/*FOOTER STYLES------------------------------------------------------------------------------------------------------------ */
.site-footer{ 
  font-family: "Raleway", sans-serif;
  background-color: #59916d;
  min-height: 150px;
  color: white;
}

.fa-twitter, .fa-facebook, .fa-instagram, .fa-youtube{
  background: #59916d;
}

.btn-social-icon {
  border: none;
}