/*HEADER CUSTOM styles-------------------------------------------------------------------------*/
@import "variables.scss";

a.website-name {                              /*CUSTOM container*/
    color:$almost-black;
}

.website-name:hover{
    text-decoration: none;
    color: $light-gray;
}

/*NAVBAR (top) styles---------------------------------------------------------------------------*/
.navbar-nav{                                 /*add space after website logo*/
    padding:40px;
}

