/*general website formatting------------------------------------------------------------------*/
/*variables ---------------------------------------------------------------------------------------------*/
/* header and footer background */
/* navbar card headers backgrounds; HOVER font color: navbar, header Mantis */
/* header, card header, and card body fonts */
body {
  font-family: "Open Sans", sans-serif; }

footer, .nav-item, h5 {
  font-family: "Raleway", sans-serif; }

h1 {
  font-family: 'Aladin', sans-serif; }

.navbar-dark {
  background-color: #59916d; }

/*variables ---------------------------------------------------------------------------------------------*/
/* header and footer background */
/* navbar card headers backgrounds; HOVER font color: navbar, header Mantis */
/* header, card header, and card body fonts */
/*HEADER CUSTOM styles-------------------------------------------------------------------------*/
/*variables ---------------------------------------------------------------------------------------------*/
/* header and footer background */
/* navbar card headers backgrounds; HOVER font color: navbar, header Mantis */
/* header, card header, and card body fonts */
a.website-name {
  /*CUSTOM container*/
  color: #202020; }

.website-name:hover {
  text-decoration: none;
  color: #f9f9f9; }

/*NAVBAR (top) styles---------------------------------------------------------------------------*/
.navbar-nav {
  /*add space after website logo*/
  padding: 40px; }

/*MODAL styles----------------------------------------------------------------------------------*/
.modal-open {
  padding: 0 !important;
  /*the modal.body behavior pushes everything to the right...*/
  overflow-y: auto;
  /*this stops it from doing that*/ }

.modal-header {
  background-color: #59916d; }

.modal-footer {
  padding: 0;
  background-color: #f9f9f9; }

.modal-footer .col-6 {
  border: 1px solid green; }

/*CUSTOM MEDIA QUERY for shopping bag------------------------------------------------------------*/
@media only screen and (min-width: 992px) {
  /*CUSTOM container*/
  .shopping-bag {
    position: absolute;
    top: 50px;
    right: 30px; } }

/*body container styling---------------------------------------------------------------------*/
/*variables ---------------------------------------------------------------------------------------------*/
/* header and footer background */
/* navbar card headers backgrounds; HOVER font color: navbar, header Mantis */
/* header, card header, and card body fonts */
.body-container {
  /*CUSTOM container: to give min height*/
  min-height: 500px;
  padding: 15px; }

/*SIDEBAR CUSTOM container and cards styling--------------------------------------------------------------*/
/*variables ---------------------------------------------------------------------------------------------*/
/* header and footer background */
/* navbar card headers backgrounds; HOVER font color: navbar, header Mantis */
/* header, card header, and card body fonts */
.sidebar-container {
  /*CUSTOM: fixed width to sidebar; min height associated w/ body height*/
  width: 300px;
  height: 500px;
  overflow-y: auto; }

.card-container a:hover, .card-header a:hover {
  /*change card header and body styles*/
  text-decoration: none; }

.card-header a {
  color: #202020; }

.card-header {
  height: 41.5px; }

.card-container {
  background-color: #f9f9f9;
  height: 40px; }

.card-container a {
  color: #202020; }

.card-body {
  padding: 0; }

.fa-plus {
  color: gray; }

/*buttons-------------------------------------------------------------*/
.btn:focus {
  /*reformat the buttons in sidebar nav*/
  box-shadow: none; }

.btn-outline-dark {
  border: none;
  padding-left: 20px; }

.btn-link:hover {
  /*buttons in nav bar hover text color is white*/
  color: #f9f9f9; }

/*FOOTER reformat of text items and background----------------------------------------------------*/
/*variables ---------------------------------------------------------------------------------------------*/
/* header and footer background */
/* navbar card headers backgrounds; HOVER font color: navbar, header Mantis */
/* header, card header, and card body fonts */
.site-footer {
  /*CUSTOM container*/
  background-color: #59916d;
  min-height: 150px;
  color: white; }

.footer-text p {
  margin: 0; }

.btn-social-icon {
  color: white; }

/*SCROLL UP ---------------------------------------------------------------------------------------*/
.scrollUp .fa {
  color: gray; }

.scrollUp .fa p {
  font-family: "Raleway", sans-serif; }

.scrollUp .fa:hover {
  color: #59916d; }
